*
{
    margin: 0%;
    padding: 0%;
    font-family: 'Roboto',sans-serif;
    scroll-behavior: smooth;
}

.header
{
    color: white;
    background-color: #270082;
    display: flex;
    justify-content: space-between;
}

.head
{
    padding: 15px;
    margin-left: 5%;
    font-size: 18px;
    font-weight: 700;
}

.navbar
{
    padding: 15px;
    margin-right: 5%;
    position: ;
}

.navbar ul
{
    display: flex;
    gap: 20px;
    list-style: none;
}

.navbar li
{
    color: white;
    text-decoration: none;
}

a
{
    text-decoration: none;
    font-size: 16px;
}

.heroimg
{
    background-image: url(/Images/hero_image.png);
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.navbar ul li
{
    transition: 0.3s ease-in-out;
    border-bottom: 2px transparent;
}

.navbar ul li:hover
{
    border-bottom: 2px solid;
    color: white;
    transition: 0.3s;
}

.text
{
    color: white;
    text-align: center;
}

.headd
{
    font-size: 35px;
    padding-top: 18%;
    padding-bottom: 30px;
}

.info h4
{
    padding-bottom: 30px;
    font-weight: 300;
    font-size: 18px;
}

.einfo h5
{
    line-height: 0.7cm;
    font-weight: 100;
    font-size: 14px;
}

.mid
{
    text-align: center;
    padding-top: 3%;
    color: white;
    background-color: #281154;
    height: 806px;
}

.txtmusic
{
    line-height: 1.4cm;
    padding-bottom: 1%;
}

.txtmusic h2
{
    font-size: 32px;
}

.txtmusic h3
{
    font-size: 20px;
}

.minfo
{
    padding-bottom: 2%;
    line-height: 0.7cm;
}

.minfo h5
{
    font-weight: 600;
}

.trial
{
    padding-bottom: 2%;
}

.orang
{
    padding-bottom: 3%;
}

.orang h6
{
    font-weight: 400;
}

.trial button
{
    padding: 1%;
    color: white;
    background-color:  #DC0000;
    font-size: 14px;
}

.trial button:hover
{
    color: #DC0000;
    background-color: white;
    scale: 1.04;
    transition: 0.4s;
}

.pic
{
    margin-bottom: 5%;
}

.read
{
    color: white;
    background-color: #37008E;
    padding: 10px 18px;
    margin-bottom: 3%;
}

.read:hover
{
    background-color: white;
    color: #37008E;
    transition: 0.4s;
}

.granted
{
    margin-top: 20%;
    text-align: center;
}

.granted h4
{
    font-size: 20px;
    margin-bottom: 3%;
}

.granted p
{
    line-height: 0.7cm;
    margin-bottom: 3%;
}

.macimg
{
    margin-bottom: 5%;
}

.macimg img
{
    margin-left: 16%;
}

.cards
{
    display: flex;
    margin-bottom: 7%;
}

.card-img
{
    padding: 30px;
    margin-left: 8%;
}

.gift-info
{
    padding: 30px;
}

.gift-info h4
{
    font-size: larger;
    margin-bottom: 3.5%;
}

.gift-info p
{
    line-height: 0.7cm;
    margin-bottom: 4%;
}

.gift-info button
{
    padding: 8px 15px;
    font-size: 16px;
    color: white;
    background-color: #37008E;
}

.gift-info button:hover
{
    background-color: white;
    color: #37008E;
    transition: 0.3s;
    scale: 1.04;
}


.footer1
{
    background-color: #281154;
    color: white;
    display: flex;
    gap: 10%;
    padding-top: 3%;
    padding-bottom: 3%;
    justify-content: center ;
}


.footer2
{
    background-color: #37008E;
    color: white;
    text-align: center;
    padding: 15px;
    font-size: 12px;
    word-spacing: 0.1cm;
}

li
{
    list-style: none;
    font-size: 12px;
    line-height: 0.5cm;
}

.footer1 h5
{
    border-bottom: 2px solid white;
    margin-bottom: 13px;
}