*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body
{
    background-color: #CCC;
}


.content
{
    max-width: 900px;
    margin: 0 auto;
    font-family: Inter;
}

.Job
{
    display: inline-block;
}

.Web
{
    display: inline-block;
    color: #1342EA;
}

.Title
{
    margin-bottom: 25px;
}


.apply-box
{
    max-width: 600px;
    padding: 20px;
    background-color: white;
    margin: 0 auto;
    margin-top: 50px;
    box-shadow: 4px 3px 5px rgba(1, 1, 1, 0.1);
    border-radius: 10px;
}

.form-container
{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.form-control
{
    display: flex;
    flex-direction: column;
}

label
{
    font-size: 15px;
    margin-bottom: 5px;
}

input,select,textarea
{
    padding: 6px 10px;
    font-size: 15px;
    border-radius: 4px;
    border: 1px solid #CCC;
}

.button_container
{
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

button
{
    background-color: red;
    padding: 5px 20px;
    border: transparent solid 2px;
    color: white;
    border-radius: 7px;
    transition: 0.2s ease-in;
}

button:hover
{
    background-color: #CCC;
    color: black;
    border: 2px solid red;
    transition: 0.2s ease-out;
    cursor: pointer;
}

.textarea-control
{
    grid-column: 1 / span 2;
}

.textarea-control textarea
{
    width: 100%;
}