*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container
{
    background-color: #E5E5FD;
    border: 10px solid #1D1E4C;
    min-height: 200vh;
}

.content
{
    max-width: 900px;
    margin: 0 auto;
    position: relative;
    padding: 20px;
    font-family: Inter;
}


.image,img
{
    width: 300px;
    height: 320px;
    float: left;
    overflow: hidden;
    border-radius: 50%;
}

.name
{
    position: absolute;
    margin-left: 500px;
    margin-top: 200px;

}

h4
{
    text-align: right;
    font-size: 20px;
}

.mid
{
    position: absolute;
    margin-top: 450px;
}

.top-section
{
    margin-top: 100px;
}

h1
{
    font-size: 43px;
    margin-bottom: 5px;
    text-align: left;
}

h2
{
    font-size: 70px;
    margin-bottom: 20px;
}

.Biographies
{
    font-size: 20px;
}

.info
{
    margin-bottom: 80px;
}

.footer
{
    position: absolute;
    margin-top: 300px;
    margin-left: 500px;
}

p
{
    font-size: 15px;
}